
<mat-card>
  <mat-toolbar color="primary">
    <a class="ms-1" mat-flat-button routerLink="/filmes" color="accent">Filmes</a>
    <a class="mx-1" mat-flat-button routerLink="/categorias">Categorias</a>
    <a class="me-1" mat-flat-button routerLink="/estudios">Estudios</a>
    <span class="spacer"></span>
    <button mat-mini-fab color="accent" (click)="onOpenAdcFilmes()">
      <mat-icon>add</mat-icon>
    </button>

  </mat-toolbar>

  <div matSort class="mat-elevation-z8" *ngIf="filmes$ | async as filmes; else loading">
    <table mat-table [dataSource]="filmes" matSort class="mat-elevation-z8 mat-table-main">

      <!-- Coluna de id -->

      <ng-container class="ngContain" matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1.1rem">_id</th>
        <td mat-cell *matCellDef="let filmes" style="font-size: 1rem">{{ filmes?._id }}</td>
      </ng-container>

      <!-- Coluna de titulo -->
      <ng-container class="ngContain" matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="filmes" style="font-size: 1.1rem">Filmes</th>
        <td mat-cell *matCellDef="let filmes" style="font-size: 1rem">{{ filmes?.titulo }}</td>
      </ng-container>

      <!-- Coluna de sinopse -->
      <ng-container class="ngContain" matColumnDef="sinopse">
        <th mat-header-cell *matHeaderCellDef style="font-size: 1.1rem">Sinopse</th>
        <td mat-cell *matCellDef="let filmes" style="font-size: 0.85rem">{{ filmes?.sinopse }}</td>
      </ng-container>

      <!-- Coluna de Data Lançamento -->
      <ng-container class="ngContain" matColumnDef="dataLancamento">
        <th mat-header-cell *matHeaderCellDef style="font-size: 1.1rem">Data de Lançamento</th>
        <td mat-cell *matCellDef="let filmes" style="font-size: 0.85rem">{{ filmes?.dataLancamento }}</td>
      </ng-container>

      <!-- Coluna de nome diretor -->
      <ng-container class="ngContain" matColumnDef="nomeDiretor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1.1rem">Nome Diretor</th>
        <td mat-cell *matCellDef="let filmes" style="font-size: 0.85rem">{{ filmes?.nomeDiretor }}</td>
      </ng-container>df


      <!-- Coluna de categoria -->
      <ng-container class="ngContain" matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1.1rem">Categoria</th>
        <td mat-cell *matCellDef="let filmes" style="font-size: 0.85rem">{{ filmes?.categoria?.nome }}</td>
      </ng-container>

      <!-- Coluna de estudio -->
      <ng-container class="ngContain" matColumnDef="estudio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-size: 1.1rem">Estudio</th>
        <td mat-cell *matCellDef="let filmes" style="font-size: 0.85rem">{{ filmes?.estudio?.nome }}</td>
      </ng-container>

      <!-- Coluna de Ações-->
      <ng-container class="ngContain d-flex justify-content-center" matColumnDef="acoes" stickyEnd>
        <th mat-header-cell *matHeaderCellDef style="font-size: 1rem">Ações</th>
        <td mat-cell *matCellDef="let filmes">
          <button class="" mat-mini-fab color="accent" (click)="onOpenUpdFilmes(filmes?._id)">
            <mat-icon>build</mat-icon>
          </button>
          <button class="mx-1"mat-mini-fab color="warn" (click)="onDltFilmes(filmes?._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>


  </div>


  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>

