.spacer {
  flex: 1 1 auto;
}

.menuBtnLogout {
  margin-left: 3px;
  color: #FFC107;
  background-color: transparent !important;
  border: 2px solid #FFC107 !important;
}

.menuBtnLogout:hover {
  background-color: white !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

.menuBtnLogin {
  margin-left: 3px;
  color: #FFC107;
  background-color: transparent !important;
  border: 2px solid #FFC107 !important;
}

.menuBtnLogin:hover {
  background-color: white !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

.homeBtn {
  color: #673AB7 !important;
  font-weight: bold;
}

.homeBtn:hover {
  background-color: white !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

.crudBtn {
  margin-left: 3px;
  color: #FFC107;
  background-color: transparent !important;
  border: 2px solid #FFC107 !important;
}

.crudBtn:hover{
  background-color: white !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}

.sepBar {
  padding-left: 1%;
  padding-right: 1%;
}

.accessibility{
  padding-right: 4%;
  padding-left: 4%;
}

.btnFont {
  margin-left: 3px;
  color: #FFC107;
  background-color: transparent !important;
  border: 2px solid #FFC107 !important;
}

.btnFont:hover{
  background-color: white !important;
  color: #000000 !important;
  border: 2px solid #000000 !important;
}
