<mat-toolbar color="primary">
  <button class="homeBtn" mat-fab color="accent" routerLink="/home" aria-label="Example icon-button with a heart icon">
    <mat-icon size="10">home</mat-icon>
  </button>

  <span class="sepBar" *ngIf="authService.isAuthenticated()">|</span>

  <button class="crudBtn" color="accent" mat-flat-button *ngIf="authService.isAuthenticated()" routerLink="/filmes">Acessar CRUD</button>

  <span class="spacer"></span>

  <button color="accent" mat-flat-button class="menuButton" routerLink="/logout" *ngIf="authService.isAuthenticated()">Sair</button>

  <button color="accent" mat-flat-button routerLink="/login" class="menuButton" *ngIf="!authService.isAuthenticated()">Entrar / Registrar-se</button>

</mat-toolbar>
<router-outlet></router-outlet>
