.spacer {
  flex: 1 1 auto;
}

.menuButton {
  color: black;
  font-weight: bold;
}

.homeBtn {
  color: black;
  font-weight: bold;
}
.crudBtn {
  color: black;
  font-weight: bold;
}

.sepBar {
  padding-left: 1%;
  padding-right: 1%;
}
